body {
    background-color:  #604c51;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(205, 204, 203);
}

a {
    color: inherit;
    text-decoration: none;
}

h1, ul {
    text-align: center;
}


h1 {
    margin-bottom: 80px;
    margin-top: 30px;
}

li {
    margin-bottom: 20px; 
}